@primary-color: #3cff8f;
@component-background: #000000;
@text-color: #ffffff;
@icon-color: #ffffff;
@layout-body-background: #121214;
@menu-item-active-bg: #1c1c1e;
@body-background: #1c1c1e;
@btn-primary-color: #000000;
@tabs-card-active-color: none;
@tabs-ink-bar-color: none;
@menu-item-active-border-width: 0px;
@input-placeholder-color: #6d6d6d;
@input-border-color: transparent;
@heading-color: #ffffff;
@input-hover-border-color: transparent;
@input-bg: transparent;
@outline-width: 0px;
@input-number-handler-active-bg: #ffffff;
@input-outline-offset: 0;
@label-color: #6d6d6d;
@label-required-color: #3cff8f;
